venv
.venv
__pycache__

data/input/kaggle
data/output/model
data/output/model_assets

cdk.out

.cpcache
.lsp
.clj-kondo
.shadow-cljs
cljs-runtime
frontend/.clj-kondo
frontend/.cpcache
frontend/.lsp
frontend/node_modules
frontend/public/js/*
